{
  "overrides": [
    {
      "files": ["Row.stories.tsx"],
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "printWidth": 160,
            "semi": true,
            "singleQuote": true,
            "trailingComma": "es5"
          }
        ]
      }
    }
  ]
}
