@font-face {
  font-family: 'nyt-athletic-slab';
  src: url('/fonts/athletic-slab/athletic-slab-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-200.woff2') format('woff2');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-300.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-400.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-500.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-800.woff2') format('woff2');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-normal-200.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham';
  src: url('/fonts/cheltenham/cheltenham-normal-800.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-cond';
  src: url('/fonts/cheltenham-cond/cheltenham-cond-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-cond';
  src: url('/fonts/cheltenham-cond/cheltenham-cond-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-cond';
  src: url('/fonts/cheltenham-cond/cheltenham-cond-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-scaps';
  src: url('/fonts/cheltenham-scaps/cheltenham-scaps-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-small';
  src: url('/fonts/cheltenham-small/cheltenham-small-italic-400.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-small';
  src: url('/fonts/cheltenham-small/cheltenham-small-italic-700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-small';
  src: url('/fonts/cheltenham-small/cheltenham-small-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-small';
  src: url('/fonts/cheltenham-small/cheltenham-small-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-text-cond';
  src: url('/fonts/cheltenham-text-cond/cheltenham-text-cond-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-wide';
  src: url('/fonts/cheltenham-wide/cheltenham-wide-italic-400.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-wide';
  src: url('/fonts/cheltenham-wide/cheltenham-wide-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-cheltenham-xcond';
  src: url('/fonts/cheltenham-xcond/cheltenham-xcond-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact';
  src: url('/fonts/fact/fact-italic-400.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact';
  src: url('/fonts/fact/fact-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact';
  src: url('/fonts/fact/fact-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-deck';
  src: url('/fonts/fact-deck/fact-deck-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-deck';
  src: url('/fonts/fact-deck/fact-deck-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-deck';
  src: url('/fonts/fact-deck/fact-deck-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-deck-condensed';
  src: url('/fonts/fact-deck-condensed/fact-deck-condensed-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-deck-condensed';
  src: url('/fonts/fact-deck-condensed/fact-deck-condensed-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-deck-condensed';
  src: url('/fonts/fact-deck-condensed/fact-deck-condensed-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display';
  src: url('/fonts/fact-display/fact-display-normal-200.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display';
  src: url('/fonts/fact-display/fact-display-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display';
  src: url('/fonts/fact-display/fact-display-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display';
  src: url('/fonts/fact-display/fact-display-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display';
  src: url('/fonts/fact-display/fact-display-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display';
  src: url('/fonts/fact-display/fact-display-normal-800.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display-condensed';
  src: url('/fonts/fact-display-condensed/fact-display-condensed-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display-condensed';
  src: url('/fonts/fact-display-condensed/fact-display-condensed-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display-condensed';
  src: url('/fonts/fact-display-condensed/fact-display-condensed-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-fact-display-condensed';
  src: url('/fonts/fact-display-condensed/fact-display-condensed-normal-800.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-italic-300.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-italic-500.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-italic-600.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-italic-700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-italic-800.woff2') format('woff2');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-italic-900.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-normal-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-normal-800.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin';
  src: url('/fonts/franklin/franklin-normal-900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin-cword';
  src: url('/fonts/franklin-cword/franklin-cword-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin-small';
  src: url('/fonts/franklin-small/franklin-small-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin-small';
  src: url('/fonts/franklin-small/franklin-small-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin-tv';
  src: url('/fonts/franklin-tv/franklin-tv-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin-tv';
  src: url('/fonts/franklin-tv/franklin-tv-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin-tv';
  src: url('/fonts/franklin-tv/franklin-tv-normal-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-franklin-tv';
  src: url('/fonts/franklin-tv/franklin-tv-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-ibm-plex';
  src: url('/fonts/ibm-plex/ibm-plex-italic-400.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-ibm-plex';
  src: url('/fonts/ibm-plex/ibm-plex-italic-700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-ibm-plex';
  src: url('/fonts/ibm-plex/ibm-plex-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-ibm-plex';
  src: url('/fonts/ibm-plex/ibm-plex-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-imperial';
  src: url('/fonts/imperial/imperial-italic-400.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-imperial';
  src: url('/fonts/imperial/imperial-italic-600.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-imperial';
  src: url('/fonts/imperial/imperial-italic-700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-imperial';
  src: url('/fonts/imperial/imperial-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-imperial';
  src: url('/fonts/imperial/imperial-normal-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-imperial';
  src: url('/fonts/imperial/imperial-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-cursive-100.woff2') format('woff2');
  font-style: cursive;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-cursive-200.woff2') format('woff2');
  font-style: cursive;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-cursive-300.woff2') format('woff2');
  font-style: cursive;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-cursive-500.woff2') format('woff2');
  font-style: cursive;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-cursive-600.woff2') format('woff2');
  font-style: cursive;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-cursive-700.woff2') format('woff2');
  font-style: cursive;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-cursive-900.woff2') format('woff2');
  font-style: cursive;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-italic-100.woff2') format('woff2');
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-italic-200.woff2') format('woff2');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-italic-300.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-italic-500.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-italic-600.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-italic-700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-italic-900.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-normal-100.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-normal-200.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-normal-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak';
  src: url('/fonts/karnak/karnak-normal-900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-italic-200.woff2') format('woff2');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-italic-300.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-italic-400.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-italic-500.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-italic-600.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-italic-700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-italic-900.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-normal-200.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-normal-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-cond';
  src: url('/fonts/karnak-cond/karnak-cond-normal-900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-small';
  src: url('/fonts/karnak-small/karnak-small-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-karnak-small';
  src: url('/fonts/karnak-small/karnak-small-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger';
  src: url('/fonts/kippenberger/kippenberger-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger';
  src: url('/fonts/kippenberger/kippenberger-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger';
  src: url('/fonts/kippenberger/kippenberger-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger';
  src: url('/fonts/kippenberger/kippenberger-normal-900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-condensed';
  src: url('/fonts/kippenberger-condensed/kippenberger-condensed-normal-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-condensed';
  src: url('/fonts/kippenberger-condensed/kippenberger-condensed-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-condensed';
  src: url('/fonts/kippenberger-condensed/kippenberger-condensed-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-condensed';
  src: url('/fonts/kippenberger-condensed/kippenberger-condensed-normal-900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-poster';
  src: url('/fonts/kippenberger-poster/kippenberger-poster-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-poster';
  src: url('/fonts/kippenberger-poster/kippenberger-poster-normal-900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-magsans';
  src: url('/fonts/magsans/magsans-normal-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-magsans';
  src: url('/fonts/magsans/magsans-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-magserif';
  src: url('/fonts/magserif/magserif-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-magslab';
  src: url('/fonts/magslab/magslab-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-schnyder-s';
  src: url('/fonts/schnyder-s/schnyder-s-normal-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-schnyder-s';
  src: url('/fonts/schnyder-s/schnyder-s-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-schnyder-scond';
  src: url('/fonts/schnyder-scond/schnyder-scond-normal-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-schnyder-scond';
  src: url('/fonts/schnyder-scond/schnyder-scond-normal-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-schnyder-scond';
  src: url('/fonts/schnyder-scond/schnyder-scond-normal-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 104.54%;
  descent-override: 36.1%;
  line-gap-override: 36.1%;
  size-adjust: 85.33%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 101.15%;
  descent-override: 34.93%;
  line-gap-override: 34.93%;
  size-adjust: 88.18%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 103.14%;
  descent-override: 35.61%;
  line-gap-override: 35.61%;
  size-adjust: 86.49%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 102.1%;
  descent-override: 35.25%;
  line-gap-override: 35.25%;
  size-adjust: 87.37%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 140.04%;
  descent-override: 33.85%;
  line-gap-override: 33.85%;
  size-adjust: 73.71%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 115.39%;
  descent-override: 39.84%;
  line-gap-override: 39.84%;
  size-adjust: 77.3%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 116.16%;
  descent-override: 28.08%;
  line-gap-override: 28.08%;
  size-adjust: 88.87%;
}
@font-face {
  font-family: "cheltenham-fallback-noto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 127.41%;
  descent-override: 30.8%;
  line-gap-override: 30.8%;
  size-adjust: 81.02%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 112.89%;
  descent-override: 27.29%;
  line-gap-override: 27.29%;
  size-adjust: 91.44%;
}
@font-face {
  font-family: "cheltenham-fallback-noto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 123.82%;
  descent-override: 29.93%;
  line-gap-override: 29.93%;
  size-adjust: 83.36%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 104.42%;
  descent-override: 27.42%;
  line-gap-override: 27.42%;
  size-adjust: 90.99%;
}
@font-face {
  font-family: "cheltenham-fallback-noto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 114.54%;
  descent-override: 30.08%;
  line-gap-override: 30.08%;
  size-adjust: 82.96%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 104.47%;
  descent-override: 26.52%;
  line-gap-override: 26.52%;
  size-adjust: 94.09%;
}
@font-face {
  font-family: "cheltenham-fallback-noto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 114.59%;
  descent-override: 29.09%;
  line-gap-override: 29.09%;
  size-adjust: 85.78%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 123.05%;
  descent-override: 31.24%;
  line-gap-override: 31.24%;
  size-adjust: 79.88%;
}
@font-face {
  font-family: "cheltenham-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 115.74%;
  descent-override: 29.38%;
  line-gap-override: 29.38%;
  size-adjust: 84.93%;
}
@font-face {
  font-family: "cheltenham-fallback-georgia";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 110.65%;
  descent-override: 38.21%;
  line-gap-override: 38.21%;
  size-adjust: 80.61%;
}
@font-face {
  font-family: "cheltenham-fallback-noto";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 104.08%;
  descent-override: 35.94%;
  line-gap-override: 35.94%;
  size-adjust: 85.71%;
}
@font-face {
  font-family: "cheltenham-cond-fallback-georgia";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 135.35%;
  descent-override: 35.54%;
  line-gap-override: 35.54%;
  size-adjust: 70.2%;
}
@font-face {
  font-family: "cheltenham-cond-fallback-noto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 148.47%;
  descent-override: 38.99%;
  line-gap-override: 38.99%;
  size-adjust: 64%;
}
@font-face {
  font-family: "cheltenham-cond-fallback-georgia";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 126.21%;
  descent-override: 43.58%;
  line-gap-override: 43.58%;
  size-adjust: 70.68%;
}
@font-face {
  font-family: "cheltenham-cond-fallback-noto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 138.43%;
  descent-override: 47.8%;
  line-gap-override: 47.8%;
  size-adjust: 64.44%;
}
@font-face {
  font-family: "cheltenham-cond-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 158.54%;
  descent-override: 54.74%;
  line-gap-override: 54.74%;
  size-adjust: 56.26%;
}
@font-face {
  font-family: "cheltenham-cond-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 149.12%;
  descent-override: 51.49%;
  line-gap-override: 51.49%;
  size-adjust: 59.82%;
}
@font-face {
  font-family: "cheltenham-scaps-fallback-georgia";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 77.62%;
  descent-override: 26.8%;
  line-gap-override: 26.8%;
  size-adjust: 114.91%;
}
@font-face {
  font-family: "cheltenham-scaps-fallback-noto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 85.14%;
  descent-override: 29.4%;
  line-gap-override: 29.4%;
  size-adjust: 104.77%;
}
@font-face {
  font-family: "cheltenham-small-fallback-georgia";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 103.41%;
  descent-override: 23.28%;
  line-gap-override: 23.28%;
  size-adjust: 95.42%;
}
@font-face {
  font-family: "cheltenham-small-fallback-georgia";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 116.16%;
  descent-override: 26.15%;
  line-gap-override: 26.15%;
  size-adjust: 84.95%;
}
@font-face {
  font-family: "cheltenham-small-fallback-georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 97.71%;
  descent-override: 22%;
  line-gap-override: 22%;
  size-adjust: 100.99%;
}
@font-face {
  font-family: "cheltenham-small-fallback-noto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 107.18%;
  descent-override: 24.13%;
  line-gap-override: 24.13%;
  size-adjust: 92.07%;
}
@font-face {
  font-family: "cheltenham-small-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 113.04%;
  descent-override: 25.45%;
  line-gap-override: 25.45%;
  size-adjust: 87.3%;
}
@font-face {
  font-family: "cheltenham-small-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 106.32%;
  descent-override: 23.94%;
  line-gap-override: 23.94%;
  size-adjust: 92.82%;
}
@font-face {
  font-family: "cheltenham-text-cond-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 124.77%;
  descent-override: 27.57%;
  line-gap-override: 27.57%;
  size-adjust: 65.64%;
}
@font-face {
  font-family: "cheltenham-text-cond-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 117.35%;
  descent-override: 25.93%;
  line-gap-override: 25.93%;
  size-adjust: 69.79%;
}
@font-face {
  font-family: "cheltenham-xcond-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 180.3%;
  descent-override: 62.26%;
  line-gap-override: 62.26%;
  size-adjust: 49.47%;
}
@font-face {
  font-family: "cheltenham-xcond-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 169.59%;
  descent-override: 58.56%;
  line-gap-override: 58.56%;
  size-adjust: 52.6%;
}
@font-face {
  font-family: "fact-display-fallback-georgia";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 111.47%;
  descent-override: 22.47%;
  line-gap-override: 22.47%;
  size-adjust: 91.24%;
}
@font-face {
  font-family: "fact-display-fallback-noto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 122.26%;
  descent-override: 24.64%;
  line-gap-override: 24.64%;
  size-adjust: 83.18%;
}
@font-face {
  font-family: "fact-display-fallback-georgia";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 109.9%;
  descent-override: 22.15%;
  line-gap-override: 22.15%;
  size-adjust: 92.54%;
}
@font-face {
  font-family: "fact-display-fallback-noto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 120.55%;
  descent-override: 24.3%;
  line-gap-override: 24.3%;
  size-adjust: 84.36%;
}
@font-face {
  font-family: "fact-display-fallback-georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 108.49%;
  descent-override: 21.87%;
  line-gap-override: 21.87%;
  size-adjust: 93.74%;
}
@font-face {
  font-family: "fact-display-fallback-noto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 119%;
  descent-override: 23.99%;
  line-gap-override: 23.99%;
  size-adjust: 85.46%;
}
@font-face {
  font-family: "fact-display-fallback-georgia";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 105.13%;
  descent-override: 21.19%;
  line-gap-override: 21.19%;
  size-adjust: 96.73%;
}
@font-face {
  font-family: "fact-display-fallback-noto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 115.32%;
  descent-override: 23.25%;
  line-gap-override: 23.25%;
  size-adjust: 88.19%;
}
@font-face {
  font-family: "fact-display-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 118.96%;
  descent-override: 23.98%;
  line-gap-override: 23.98%;
  size-adjust: 85.49%;
}
@font-face {
  font-family: "fact-display-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 111.89%;
  descent-override: 22.55%;
  line-gap-override: 22.55%;
  size-adjust: 90.89%;
}
@font-face {
  font-family: "fact-display-fallback-georgia";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 116%;
  descent-override: 23.38%;
  line-gap-override: 23.38%;
  size-adjust: 87.67%;
}
@font-face {
  font-family: "fact-display-fallback-noto";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 109.11%;
  descent-override: 21.99%;
  line-gap-override: 21.99%;
  size-adjust: 93.21%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 105.59%;
  descent-override: 29.93%;
  line-gap-override: 29.93%;
  size-adjust: 88.55%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 106.39%;
  descent-override: 26.6%;
  line-gap-override: 26.6%;
  size-adjust: 90.23%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 100.93%;
  descent-override: 31.15%;
  line-gap-override: 31.15%;
  size-adjust: 90.86%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 99.63%;
  descent-override: 30.75%;
  line-gap-override: 30.75%;
  size-adjust: 92.04%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 109.11%;
  descent-override: 33.67%;
  line-gap-override: 33.67%;
  size-adjust: 84.04%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 101.03%;
  descent-override: 31.18%;
  line-gap-override: 31.18%;
  size-adjust: 90.76%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 98.12%;
  descent-override: 27.81%;
  line-gap-override: 27.81%;
  size-adjust: 95.29%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 100.34%;
  descent-override: 28.44%;
  line-gap-override: 28.44%;
  size-adjust: 93.18%;
}
@font-face {
  font-family: "karnak-fallback-noto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 110.07%;
  descent-override: 31.2%;
  line-gap-override: 31.2%;
  size-adjust: 84.95%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 101.27%;
  descent-override: 25.32%;
  line-gap-override: 25.32%;
  size-adjust: 94.79%;
}
@font-face {
  font-family: "karnak-fallback-noto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 111.08%;
  descent-override: 27.77%;
  line-gap-override: 27.77%;
  size-adjust: 86.42%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 95.64%;
  descent-override: 29.52%;
  line-gap-override: 29.52%;
  size-adjust: 95.88%;
}
@font-face {
  font-family: "karnak-fallback-noto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 104.91%;
  descent-override: 32.38%;
  line-gap-override: 32.38%;
  size-adjust: 87.41%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 78.31%;
  descent-override: 22.2%;
  line-gap-override: 22.2%;
  size-adjust: 119.39%;
}
@font-face {
  font-family: "karnak-fallback-noto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 85.9%;
  descent-override: 24.35%;
  line-gap-override: 24.35%;
  size-adjust: 108.85%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 94.41%;
  descent-override: 29.14%;
  line-gap-override: 29.14%;
  size-adjust: 97.13%;
}
@font-face {
  font-family: "karnak-fallback-noto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 103.56%;
  descent-override: 31.96%;
  line-gap-override: 31.96%;
  size-adjust: 88.55%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 104.59%;
  descent-override: 32.28%;
  line-gap-override: 32.28%;
  size-adjust: 87.68%;
}
@font-face {
  font-family: "karnak-fallback-noto";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 98.37%;
  descent-override: 30.36%;
  line-gap-override: 30.36%;
  size-adjust: 93.22%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 98.3%;
  descent-override: 30.34%;
  line-gap-override: 30.34%;
  size-adjust: 93.28%;
}
@font-face {
  font-family: "karnak-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 92.46%;
  descent-override: 28.53%;
  line-gap-override: 28.53%;
  size-adjust: 99.18%;
}
@font-face {
  font-family: "karnak-fallback-georgia";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 94.98%;
  descent-override: 26.92%;
  line-gap-override: 26.92%;
  size-adjust: 98.44%;
}
@font-face {
  font-family: "karnak-fallback-noto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 89.33%;
  descent-override: 25.32%;
  line-gap-override: 25.32%;
  size-adjust: 104.66%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 131.94%;
  descent-override: 32.98%;
  line-gap-override: 32.98%;
  size-adjust: 72.76%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 128.89%;
  descent-override: 32.73%;
  line-gap-override: 32.73%;
  size-adjust: 74.25%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 102.54%;
  descent-override: 29.06%;
  line-gap-override: 29.06%;
  size-adjust: 91.18%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 124.44%;
  descent-override: 32.25%;
  line-gap-override: 32.25%;
  size-adjust: 76.58%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 137.02%;
  descent-override: 36.79%;
  line-gap-override: 36.79%;
  size-adjust: 69.04%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 129.39%;
  descent-override: 35.96%;
  line-gap-override: 35.96%;
  size-adjust: 72.57%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 119.54%;
  descent-override: 33.88%;
  line-gap-override: 33.88%;
  size-adjust: 78.22%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 127.15%;
  descent-override: 31.79%;
  line-gap-override: 31.79%;
  size-adjust: 75.5%;
}
@font-face {
  font-family: "karnak-cond-fallback-noto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 139.47%;
  descent-override: 34.87%;
  line-gap-override: 34.87%;
  size-adjust: 68.83%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 123.51%;
  descent-override: 31.69%;
  line-gap-override: 31.69%;
  size-adjust: 77.32%;
}
@font-face {
  font-family: "karnak-cond-fallback-noto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 135.48%;
  descent-override: 34.76%;
  line-gap-override: 34.76%;
  size-adjust: 70.49%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 95.92%;
  descent-override: 27.19%;
  line-gap-override: 27.19%;
  size-adjust: 97.48%;
}
@font-face {
  font-family: "karnak-cond-fallback-noto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 105.21%;
  descent-override: 29.82%;
  line-gap-override: 29.82%;
  size-adjust: 88.87%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 117.93%;
  descent-override: 31.66%;
  line-gap-override: 31.66%;
  size-adjust: 80.22%;
}
@font-face {
  font-family: "karnak-cond-fallback-noto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 129.35%;
  descent-override: 34.73%;
  line-gap-override: 34.73%;
  size-adjust: 73.14%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 127.94%;
  descent-override: 36.79%;
  line-gap-override: 36.79%;
  size-adjust: 72.85%;
}
@font-face {
  font-family: "karnak-cond-fallback-noto";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 120.33%;
  descent-override: 34.6%;
  line-gap-override: 34.6%;
  size-adjust: 77.45%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 118.78%;
  descent-override: 36.66%;
  line-gap-override: 36.66%;
  size-adjust: 77.2%;
}
@font-face {
  font-family: "karnak-cond-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 111.72%;
  descent-override: 34.48%;
  line-gap-override: 34.48%;
  size-adjust: 82.08%;
}
@font-face {
  font-family: "karnak-cond-fallback-georgia";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 111.83%;
  descent-override: 31.7%;
  line-gap-override: 31.7%;
  size-adjust: 83.61%;
}
@font-face {
  font-family: "karnak-cond-fallback-noto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 105.18%;
  descent-override: 29.81%;
  line-gap-override: 29.81%;
  size-adjust: 88.89%;
}
@font-face {
  font-family: "karnak-small-fallback-georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 75.89%;
  descent-override: 23.54%;
  line-gap-override: 23.54%;
  size-adjust: 120.7%;
}
@font-face {
  font-family: "karnak-small-fallback-noto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 83.24%;
  descent-override: 25.82%;
  line-gap-override: 25.82%;
  size-adjust: 110.04%;
}
@font-face {
  font-family: "karnak-small-fallback-georgia";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Georgia");
  ascent-override: 74.32%;
  descent-override: 23.06%;
  line-gap-override: 23.06%;
  size-adjust: 102.69%;
}
@font-face {
  font-family: "karnak-small-fallback-noto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif");
  ascent-override: 69.9%;
  descent-override: 21.69%;
  line-gap-override: 21.69%;
  size-adjust: 109.18%;
}
@font-face {
  font-family: "magslab-fallback-tnr";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Times New Roman");
  ascent-override: 111.88%;
  descent-override: 37.29%;
  line-gap-override: 37.29%;
  size-adjust: 67.04%;
}